*

!/.gitignore
!/.npmignore

!.github
!.github/**

!/apps/
!/apps/.gitignore
!/examples/
!/examples/.gitignore
!/packages/
!/packages/.gitignore

!/package.json
!/pnpm-workspace.yaml

!/rollup.config.js
!/tsconfig.base.json
!/vitest.config.ts

!/CHANGELOG.md
!/README.md
!/COMMIT_CONVENTION.md

!/AUTHORS
!/CONTRIBUTING.md
!/GOVERNANCE.md
!/MAINTAINERS.md
!/LICENSE